<a href="https://colab.research.google.com/github/ggwnsghgg/book_project/blob/main/%EC%9E%90%EC%97%B0%EC%96%B4%EC%B2%98%EB%A6%AC_%EA%B5%90%EC%9C%A1_2021_3_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 환경 준비
1. 라이브러리 다운로드
2. 3줄짜리 간단한 데이터셋(dataset.txt)이 만들어집니다. (파일보기 +  새로고침 후 확인)

**자체 데이터셋을 사용할 경우 한 문장이 한줄에 들어가는 파일로 dataset.txt로 저장 후 기존 파일을 덮어쓰기 하면 됩니다.**

In [ ]:
!git clone https://github.com/kiyoungkim1/ReadyToUseAI

from ReadyToUseAI.src.nlp import make_sample_dataset, count, tfidf
make_sample_dataset.simple()

Cloning into 'ReadyToUseAI'...
remote: Enumerating objects: 152, done.
remote: Counting objects: 100% (152/152), done.
remote: Compressing objects: 100% (99/99), done.
remote: Total 152 (delta 78), reused 81 (delta 38), pack-reused 0
Receiving objects: 100% (152/152), 33.61 KiB | 3.73 MiB/s, done.
Resolving deltas: 100% (78/78), done.

['학교에 가서 수업을 들었다. 학교에 간건 오랜만이다.', '학교에 가서 친구 얘기를 들었다.', '내일 가서 뭐 먹지?']

# 2.1. COUNT or TFIDF 실행

In [ ]:
# 단어 빈도수를 계산 후 결과를 엑셀파일로 저장할 경우 실행

df, _ = count.apply(dataset_path='dataset.txt', save_path='count.xlsx')
df

Result is saved at count.xlsx

                               가서  학교에  들었다  간건  내일  먹지  수업을  얘기를  오랜만이다  친구
total                           3    3    2   1   1   1    1    1      1   1
학교에 가서 수업을 들었다. 학교에 간건 오랜만이다.   1    2    1   1   0   0    1    0      1   0
학교에 가서 친구 얘기를 들었다.              1    1    1   0   0   0    0    1      0   1
내일 가서 뭐 먹지?                     1    0    0   0   1   1    0    0      0   0

In [ ]:
# TFIDF를 계산 후 결과를 엑셀파일로 저장할 경우 실행

df, _ = tfidf.apply(dataset_path='dataset.txt', save_path='tfidf.xlsx')
df

Result is saved at tfidf.xlsx

                                    학교에        가서  ...       수업을     오랜만이다
total                          1.015059  0.937236  ...  0.400294  0.400294
학교에 가서 수업을 들었다. 학교에 간건 오랜만이다.  0.608868  0.236420  ...  0.400294  0.400294
학교에 가서 친구 얘기를 들었다.             0.406192  0.315444  ...  0.000000  0.000000
내일 가서 뭐 먹지?                    0.000000  0.385372  ...  0.000000  0.000000

[4 rows x 10 columns]

# 2.2. 문장 유사도 구하기
2.1.을 실행할 필요없이 바로 실행해도 된다.    
text에 원하는 문장을 넣고 실행하면, 해당 문장과 가장 유사한 문장을 dataset.txt에서 찾아 순서대로 보여준다.

In [ ]:
# 단어 빈도수를 계산 후 아래의 text와 유사한 문장 고르기

text = '학교 가서'
df = count.find_similar_sentence(text, dataset_path='dataset.txt', save_path='count_similarity.xlsx')
df

Result is saved at count_similarity.xlsx

                               similarity  가서  학교에  들었다  ...  수업을  얘기를  오랜만이다  친구
내일 가서 뭐 먹지?                      0.577350   1    0    0  ...    0    0      0   0
total                            0.557086   3    3    2  ...    1    1      1   1
학교에 가서 친구 얘기를 들었다.               0.447214   1    1    1  ...    0    1      0   1
학교에 가서 수업을 들었다. 학교에 간건 오랜만이다.    0.333333   1    2    1  ...    1    0      1   0

[4 rows x 11 columns]

In [ ]:
# 단어 빈도수를 계산 후 아래의 text와 유사한 문장 고르기

text = '학교 가서'
df = tfidf.find_similar_sentence(text, dataset_path='dataset.txt', save_path='tfidf_similarity.xlsx')
df

Result is saved at tfidf_similarity.xlsx

                               similarity       학교에  ...       수업을     오랜만이다
학교에 가서 수업을 들었다. 학교에 간건 오랜만이다.    0.608868  0.608868  ...  0.400294  0.400294
total                            0.488571  1.015059  ...  0.400294  0.400294
학교에 가서 친구 얘기를 들었다.               0.406192  0.406192  ...  0.000000  0.000000
내일 가서 뭐 먹지?                      0.000000  0.000000  ...  0.000000  0.000000

[4 rows x 11 columns]