<a href="https://colab.research.google.com/github/ggwnsghgg/book_project/blob/main/%EC%B1%85_%EC%B6%94%EC%B2%9C%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
!pip install pymysql
!pip install konlpy

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: konlpy in /usr/local/lib/python3.7/dist-packages (0.5.2)
Requirement already satisfied: JPype1>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.2.1)
Requirement already satisfied: tweepy>=3.7.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (3.10.0)
Requirement already satisfied: lxml>=4.1.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.2.6)
Requirement already satisfied: numpy>=1.6 in /usr/local/lib/python3.7/dist-packages (from konlpy) (1.19.5)
Requirement already satisfied: colorama in /usr/local/lib/python3.7/dist-packages (from konlpy) (0.4.4)
Requirement already satisfied: beautifulsoup4==4.6.0 in /usr/local/lib/python3.7/dist-packages (from konlpy) (4.6.0)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from JPype1>=0.7.0->konlpy) (3.7.4.3)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (2.23.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from tweepy>=3.7.0->konlpy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->tweepy>=3.7.0->konlpy) (3.1.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /usr/local/lib/python3.7/dist-packages (from requests[socks]>=2.11.1->tweepy>=3.7.0->konlpy) (1.7.1)

In [30]:
import pymysql
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import konlpy


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# from google.colab import drive
# drive.mount('/content/drive')



#데이터 가져오기
db = pymysql.connect(host='222.111.24.101', port=3306, user='playdata', password='playdata123!', db='bookdata', charset='utf8')

curs = db.cursor(pymysql.cursors.DictCursor)  

query = '''
select *
    from books_data'''
df_books_data = pd.read_sql(query, db)

In [31]:
# 구글 드라이브 사용시

# path = '/content/drive/MyDrive/data/'
# df_books_data = pd.read_csv(os.path.join(path, 'book_data.csv'), error_bad_lines=False)

In [32]:
df_books_data

          id  ...    genre
0          1  ...  추리/미스터리
1          2  ...  추리/미스터리
2          3  ...  추리/미스터리
3          4  ...  추리/미스터리
4          5  ...  추리/미스터리
...      ...  ...      ...
79770  79771  ...      로맨스
79771  79772  ...      로맨스
79772  79773  ...      로맨스
79773  79774  ...      로맨스
79774  79775  ...      로맨스

[79775 rows x 11 columns]

In [33]:
# 장르와 타이틀 값을 이용한 books_df 제작

df = pd.DataFrame(df_books_data['id'], columns=['id'])
df1 = pd.DataFrame(df_books_data['story'], columns=['story'])
df2 = pd.DataFrame(df_books_data['genre'], columns=['genre'])
bookdf = pd.concat([df,df1,df2],axis=1)

books_df = bookdf.set_index('id')
books_df

                     title    genre
id
1                  요리코를 위해  추리/미스터리
2             그녀는 다 계획이 있다  추리/미스터리
3      블랙 쇼맨과 이름 없는 마을의 살인  추리/미스터리
4              돌이킬 수 없는 약속  추리/미스터리
5                    루팡의 딸  추리/미스터리
...                    ...      ...
79771            하루만 사랑해 2      로맨스
79772   서울 여자와 대구 남자가 만날 때      로맨스
79773           kiss me...      로맨스
79774              어린 엄마 2      로맨스
79775              어린 엄마 1      로맨스

[79775 rows x 2 columns]

In [34]:
total_count = len(books_df.index)
total_genres = list(set([genre for sublist in list(map(lambda x: x.split('|'), books_df['genre'])) for genre in sublist]))

In [35]:
print(f"전체 도서 수: {total_count}")
print(f"장르: {total_genres}")

전체 도서 수: 79775
장르: ['추리/미스터리', '판타지', '역사', '로맨스', 'SF', '무협', '공포/스릴러']

In [36]:
print(len(total_genres))

7

In [37]:
genre_count = dict.fromkeys(total_genres)

for each_genre_list in books_df['genre']:
    for genre in each_genre_list.split('|'):
        if genre_count[genre] == None:
            genre_count[genre] = 1
        else:
            genre_count[genre] = genre_count[genre]+1

In [38]:
genre_count

{'SF': 1363,
 '공포/스릴러': 3260,
 '로맨스': 14826,
 '무협': 14527,
 '역사': 4524,
 '추리/미스터리': 4152,
 '판타지': 37123}

In [39]:
for each_genre in genre_count:
    genre_count[each_genre] = np.log10(total_count/genre_count[each_genre])
  
genre_count

{'SF': 1.7673709570308744,
 '공포/스릴러': 1.3886492127976091,
 '로맨스': 0.730842817079825,
 '무협': 0.7396908763353855,
 '역사': 1.2463442166121304,
 '추리/미스터리': 1.2836094680251466,
 '판타지': 0.3322237475062316}

In [ ]:
# create genre representations
genre_representation = pd.DataFrame(columns=sorted(total_genres), index=books_df.index)
for index, each_row in tqdm(books_df.iterrows()):
    dict_temp = {i: genre_count[i] for i in each_row['genre'].split('|')}
    row_to_add = pd.DataFrame(dict_temp, index=[index])
    genre_representation.update(row_to_add)

genre_representation

48720it [09:02, 86.25it/s]

In [ ]:
|#스토리의 키워드를 뽑기위해 명사와 형용사만 가져오자
story_words = df_books_data['story'].to_numpy()
for i, document in enumerate(story_words):
    okt = konlpy.tag.Okt()
    clean_words = []
    for word in okt.pos(document, stem = True): #어간 뽑자
        if word[1] in ['Noun', 'Adjective']: #명사, 형용사만 가져와
            clean_words.append(word[0])
    #print(clean_words)
    document = ' '.join(clean_words)
    #print(document)
    story_words[i] = document

In [ ]:
#넘파이 배열 데이터프레임 화
df_story_words=pd.DataFrame(story_words,
            columns = ['story_words'])

In [ ]:
df_books = pd.concat([df_books_data, df_story_words], axis = 1)

In [ ]:
df_books.columns

In [ ]:
#날짜, 아이디 날리고
df_books = df_books.drop(['id','date'],axis = 1)

In [ ]:
#혹시모를 중복 제거하자
df_books = df_books.drop_duplicates(['title'])

In [ ]:
df_books.tail()

In [ ]:
df_books = df_books.dropna(axis=0)

In [ ]:
df_books

In [ ]:
from math import log # IDF 계산을 위해

In [ ]:
docs = df_books['genre'] 
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [ ]:
docs.

In [ ]:
N = len(docs) # 총 문서의 수

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [ ]:
result = []
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

In [ ]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

In [ ]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]

        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_